.accent {
  color: #ffaa81;
}

.pulseacc {
  color: #89e8bc;
}

.table {
  font-family: 'Roboto Mono', monospace;
}

.resolve {
  font-family: 'Roboto Mono', monospace;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr {
  height: 40px;
}

td {
  width: 40px;
  text-align: center;
  font-size: 25px;
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #154e50;
  text-align: center;
}

button {
  font-family: inherit;
  font-size: 20px;
  padding: 5px;
  background-color: #154e50;
  border-width: 0px;
  transition: color, 0.075s;
}

button:hover {
  background-color: #0e3638;
}

input {
  font-family: inherit;
  font-size: 20px;
  padding: 5px;
  background-color: #154e50;
  border-width: 0px;
  width: 10%;
}
label {
  padding: 10px;
}

h1, p, td, label, input, button {
  color: white;
}
