.accent {
  color: #ffaa81;
}

.pulseacc {
  color: #89e8bc;
}

.table {
  font-family: 'Roboto Mono', monospace;
}

.resolve {
  font-family: 'Roboto Mono', monospace;
}

.octable, .oclines {
  cursor: pointer;
}

.tp, .lm {
  display: none;
  opacity: 0;
}

.tableWrap, .linesWrap {
  display: none;
}

.open {
  display: block;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr {
  height: 40px;
}

td {
  width: 40px;
  text-align: center;
  font-size: 25px;
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #154e50;
  text-align: center;
}

input {
  font-family: inherit;
  font-size: 20px;
  padding: 5px;
  background-color: #154e50;
  border: 1px solid white;
  width: 10%;
}
label {
  padding: 10px;
}

h1, h3, p, td, label, input {
  color: white;
}

canvas {
  padding: 15px;
  margin: auto;
  height: 0px;
}
